.task-card {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: #3d3c417e;
  border-radius: 10px;
  max-width: 300px;
  width: 30%;
}

.task-is-true {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 20px 1px #1f1e22;
}

.task-is-false {
  margin: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0);
  color: #ffffff3c;
}

.title-div {
  word-wrap: break-word;
  width: 90%;
  display: flex;
  align-items: baseline;
}

button {
  border-radius: 5px;
  color: white;
  background-color: #1f1e22;
  border: solid 1px;
}

.task-card p {
  font-size: 13px;
  margin-bottom: 0px;
  text-align: left;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 0px;
  margin-left: 10px;
  width: 90%;
  text-align: left;
}

.task-header {
  display: flex;
}

@media screen and (max-width: 545px) {
  .task-is-true {
    width: 100%;
  }

  .task-is-false {
    width: 100%;
  }
}

.delete-img {
  height: 16px;
}

.edit-img {
  height: 17px;
  margin-right: 2px;
}
