.tasks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-height: 83vh;
    overflow: auto;
}

@media screen and (max-width: 545px) {
    .tasks-container{
        width: 100%;
    }
}